:root {
    /* Primary colours */
    --safetyGreen: #0E8C2F; /* rgb(14, 140, 47) */
    --safetyWhite: #FFFFFF; /* rgb(255, 255, 255) */

    /* Secondary colours */
    --lightGrey: #474747; /* rgb(71, 71, 71) */
    --darkGrey: #373C3A; /* rgb(55, 60, 58) */

    /* Tints */
    --safetyGreen20: #0E8C2F33; /* 20% opacity */ /* rgba(14, 140, 47, 0.2) */
    --safetyGreen40: #0E8C2F66; /* 40% opacity */ /* rgba(14, 140, 47, 0.4) */
    --safetyGreen60: #0E8C2F60; /* 60% opacity */ /* rgba(14, 140, 47, 0.6) */
    --safetyGreen80: #0E8C2FCC; /* 80% opacity */ /* rgba(14, 140, 47, 0.8) */

    --safetyWhite20: #FFFFFF33; /* 20% opacity */ /* rgba(255, 255, 255, 0.2) */
    --safetyWhite40: #FFFFFF66; /* 40% opacity */ /* rgba(255, 255, 255, 0.4) */
    --safetyWhite60: #FFFFFF99; /* 60% opacity */ /* rgba(255, 255, 255, 0.6) */
    --safetyWhite80: #FFFFFFCC; /* 80% opacity */ /* rgba(255, 255, 255, 0.8) */

    --lightGrey20: #47474733; /* 20% opacity */ /* rgba(71, 71, 71, 0.2) */
    --lightGrey40: #47474766; /* 40% opacity */ /* rgba(71, 71, 71, 0.4) */
    --lightGrey60: #47474799; /* 60% opacity */ /* rgba(71, 71, 71, 0.6) */
    --lightGrey80: #474747CC; /* 80% opacity */ /* rgba(71, 71, 71, 0.8) */

    --darkGrey20: #373C3A33; /* 20% opacity */ /* rgba(55, 60, 58, 0.2) */
    --darkGrey40: #373C3A66; /* 40% opacity */ /* rgba(55, 60, 58, 0.4) */
    --darkGrey60: #373C3A99; /* 60% opacity */ /* rgba(55, 60, 58, 0.6) */
    --darkGrey80: #373C3ACC; /* 80% opacity */ /* rgba(55, 60, 58, 0.8) */

    /* Font weights */
    --extraBold: 800;
    --bold: 700;
    --semiBold: 600;
    --regular: 400;
    --light: 300;
    --extraLight: 200;

    /* Font familys */
    --muli: "muli", sans-serif;

    /* Spacing */
    --containerSpacing: 40px;
    --contentSpacing: 10px;
}

h1 {
    font-family: var(--muli);
    font-size: 61px;
    font-weight: var(--extraBold);
    line-height: 92px;
    margin-bottom: 40px;
}

h2 {
    font-family: var(--muli);
    font-size: 39px;
    font-weight: var(--bold);
    line-height: 59px;
    margin-bottom: 20px;
}

h3 {
    font-family: var(--muli);
    font-size: 28px;
    font-weight: var(--semiBold);
    line-height: 40px;
    margin-bottom: 20px;
}

h4 {
    font-family: var(--muli);
    font-size: 24px;
    font-weight: var(--semiBold);
    line-height: 35px;
    margin-bottom: 15px;
}

h5 {
    font-family: var(--muli);
    font-size: 22px;
    font-weight: var(--semiBold);
    line-height: 30px;
    margin-bottom: 10px;
}

h6 {
    font-family: var(--muli);
    font-size: 20px;
    font-weight: var(--regular);
    line-height: 30px;
    margin-bottom: 10px;
}

p, li, span, textarea, input {
    font-family: var(--muli);
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 24px;
    margin-bottom: var(--contentSpacing);
    color: var(--darkGrey);
}

strong {
    font-family: var(--muli);
    font-size: 16px;
    font-weight: var(--bold);
    line-height: 24px;
    margin-bottom: var(--contentSpacing);
    color: var(--darkGrey);
}

a {
    font-family: var(--muli);
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 24px;
    margin-bottom: var(--contentSpacing);
    color: var(--safetyGreen);
    text-decoration: underline;
}

a:hover {
    color: var(--darkGrey);
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: var(--contentSpacing);
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-bottom: var(--contentSpacing);
}

.full-container {
    width: 100%;
}

.small-container {
    width: 1380px;
    margin: auto;
}

.cta, button {
    font-family: var(--muli);
    border-radius: 2px;
    background-color: var(--safetyGreen);
    color: var(--safetyWhite);
    padding: 20px;
    text-align: center;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    border: 0px;
    font-size: 16px;
    font-weight: var(--semiBold);
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    margin-bottom: var(--contentSpacing);
}

.cta:hover, button:hover {
    background-color: var(--darkGrey);
    color: var(--safetyWhite);
}

.cta-simple {
    font-weight: var(--bold);
    font-size: 16px;
    text-decoration: none;
}

.cta-simple:after {
    content: "";
    height: 19px;
    width: 21px;
    background-image: url('../../assets/arrow-green.png');
    display: inline-block;
    margin: 0px 0px -5px 10px;
    transition: 0.25s ease-in-out;
}

.cta-simple:hover {
    color: var(--safetyGreen);
}

.cta-simple:hover:after {
    margin: 0px 0px -5px 15px;
}

label {
    font-size: 16px;
    color: var(--darkGrey);
    font-weight: var(--semiBold);
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: var(--contentSpacing);
    font-size: 16px;
    color: var(--darkGrey);
    border: 1px solid var(--darkGrey);
}

textarea {
    min-width: 100%;
    padding: 15px 20px;
    margin-bottom: var(--contentSpacing);
    font-size: 16px;
    color: var(--darkGrey);
    border: 1px solid var(--darkGrey);
}

input[type="email"] {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: var(--contentSpacing);
    font-size: 16px;
    color: var(--darkGrey);
    border: 1px solid var(--darkGrey);
}

input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: var(--contentSpacing);
    font-size: 16px;
    color: var(--darkGrey);
    border: 1px solid var(--darkGrey);
}

select {
    border: 1px solid var(--darkGrey);
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    margin-bottom: var(--contentSpacing);
    color: var(--darkGrey);
}

fieldset {
    margin-top: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: var(--contentSpacing);
    width: 18px;
    height: 18px;
    display: inline-grid;
    place-content: center;
    border: 2px solid var(--darkGrey);
    cursor: pointer;
}

input[type="checkbox"]:before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 23px 23px var(--darkGrey);
    transform-origin: center center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked:before {
    transform: scale(1);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: var(--contentSpacing);
    color: var(--darkGrey);
    border: 2px solid var(--darkGrey);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out border;
}

input[type="radio"]:checked {
    border: 5px solid var(--darkGrey);
    transition: 0.2s ease-in-out border;
}

input[type="range"] {
    background-color: var(--safetyWhite);
    border: 2px solid var(--darkGrey);
    margin-bottom: var(--contentSpacing);
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    accent-color: var(--darkGrey);
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: var(--safetyWhite); 
    box-shadow: 0px 3px 6px var(--darkGrey);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--safetyWhite); 
    box-shadow: 0px 3px 6px var(--darkGrey);
    cursor: pointer;
}